.fa-arrow-left, .fa-arrow-right {
    position: relative;
    top: 25px;
}
.fa-arrow-right {
    left: 932px;
}

ul {
    display: inline;
}

li {
    display: inline-block;
    font-size: x-large;
    float: left;
    margin: 0 10px;
}